extends skeleton
block content
  h1 About
  p This is just a fancy replacement for my new tab page.
  div.panel.panel-default
    div.panel-heading
      span Latest commit
      div.pull-right
        span.label(style="background-color: #" + commit.substring(0,6)) #{commit}
        span &nbsp;
        span.label.label-default #{branch}
    div.panel-body
      pre.diff #{diff}
  div.panel.panel-default
    div.panel-heading Contributors
    div.panel-body
      ul
        for contrib in contribs
          li #{contrib.slice(1)}
  if license
    div.panel.panel-default
      div.panel-heading License
      div.panel-body #{license}
