extends skeleton
block content
  div.panel.nostyle
    ul.pull-right.pagination-disabled
      li(style="color: #" + commit.substring(0,6)) #{commit}
      if branch == "master"
        li(style="color:green") #{branch}
      else
        li(style="color:red") #{branch}
  div.panel.panel-default
    div.panel-heading Commit information
    div.panel-body
      div.pre #{diff}
  div.panel.panel-default
    div.panel-heading Contributors
    div.panel-body
      ul
        for contrib in contribs
          li #{contrib.slice(1)}
  if license
    div.panel.panel-default
      div.panel-heading License
      div.panel-body #{license}
